<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="logo"></div>
    <div class="sliderbar">
      <ul class="menu">
        <li class="active">
          <img src="assets/logo.mad.jpg" />
          <a href="#">
            <i class="fa-solid fa-house"></i
            ><!--con esto evito crear codigo para los assets-->
            <span>Home</span></a
          >
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chart-bar"></i>
            <span>Category</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-star"></i>
            <span>Action</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-star"></i>
            <span>terror</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-landmark"></i>
            <span>Historial</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-heart"></i>
            <span>Favorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-sign-out"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- header-->
    <div class="main--content">
      <div class="header--wrapper">
        <div class="header--tittle">
          <h2>Madagascar Films</h2>
        </div>
  <!-- search-->
        <div class="InputContainer">       
            <input
              placeholder="Search.."
              id="input"
              class="input"
              name="text"
              type="text"
            />  </div>   
            <div> 
            <img src="..." class="useritem" alt=""/>
            <!-- prueba dropdown-->
            <div class="dropdown">
            <button>Profile</button>
            <div class="cuadrito">
                <a href="">Edit</a>
                <a href="">Admin</a>
                <a href="">Dashboard</a>
            </div>  
            </div><!-- logo usuario-->
            <div class="container">
            <!-- prueba log-->

            </div>
        </div>
        </div>
        
      <!-- Cards para las peliculas-->
      <h3 class="main-tittle">Recommended</h3>
      <div class="card-container">
        <div class="cards">
          <div class="card-header">
            <img
              src="https://ca-times.brightspotcdn.com/dims4/default/b46402a/2147483647/strip/true/crop/2250x1500+248+0/resize/2400x1600!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F59%2F44%2Fc3b3d4104d20a7ca22456d585bb3%2F2530-t2-00070.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>forms</h1>
          </div>
        </div>
        <div class="cards">
          <div class="card-header">
            <img
              src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/07/30/16591757825079.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>xd</h1>
          </div>
        </div>
        <div class="cards">
          <div class="card-header">
            <img
              src="https://www.gndiario.com/sites/default/files/noticias/mejores-peliculas-2022%20%281%29.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>ulon</h1>
          </div>
        </div>
        <div class="cards">
          <div class="card-header">
            <img
              src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2017/12/margotrobbiesuicide.jpg?fit=1000%2C625&quality=50&strip=all&ssl=1"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>love</h1>
          </div>
        </div>
      </div>
      <!-- finaliza el primer container card-->
      <h3 class="main-tittle">Action</h3>
      <div class="card-container">
        <div class="cards">
          <div class="card-header">
            <img
              src="https://ca-times.brightspotcdn.com/dims4/default/b46402a/2147483647/strip/true/crop/2250x1500+248+0/resize/2400x1600!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F59%2F44%2Fc3b3d4104d20a7ca22456d585bb3%2F2530-t2-00070.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>mario</h1>
          </div>
        </div>
      </div>
      <!-- Cards prueba de las peliculas-->
      <h3 class="main-tittle">Action</h3>
      <div class="card-container">
        <div class="cards">
          <div class="card-header">
            <img
              src="https://ca-times.brightspotcdn.com/dims4/default/b46402a/2147483647/strip/true/crop/2250x1500+248+0/resize/2400x1600!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F59%2F44%2Fc3b3d4104d20a7ca22456d585bb3%2F2530-t2-00070.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>mario</h1>
          </div>
        </div>
      </div>
      <!-- finaliza el primer container card-->
      <h3 class="main-tittle">Action</h3>
      <div class="card-container">
        <div class="cards">
          <div class="card-header">
            <img
              src="https://ca-times.brightspotcdn.com/dims4/default/b46402a/2147483647/strip/true/crop/2250x1500+248+0/resize/2400x1600!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F59%2F44%2Fc3b3d4104d20a7ca22456d585bb3%2F2530-t2-00070.jpg"
              alt=""
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h1>mario</h1>
          </div>
        </div>
      </div>

















    </div> <!--general-->
    

