<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 </head>
 <body>
     <div class="wrapper">
         <span class="bg-animate"></span>
            <div class="form-box login">
           <h2>Login</h2>
           <form action="#">
             <div class="input-box animation">
                 <input type="text" required>
                 <label>Username</label>
                 <i class="fa-solid fa-user"></i>
             </div>
             <div class="input-box animation">
                 <input type="password" required>
                 <label>Password</label>
                 <i class="fa-solid fa-lock"></i>
             </div>
             <button type="submit" class="btn animation">Login</button>
             <div class="logreg-link animation">
                 <p>Don´t have an account?
                     <a href="#" class="registrer-link">Sing Up</a>
                 </p>
             </div>
           </form> 
         </div>
         <div class="info-text login">
          <h2>Welcome</h2>
          <p>Madagascar Films</p>
 </div>